@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

:root {
  --primary-color: #E6A4B4;
  --secondary-color: #EED1D5;
  --text-dark: #0f172a;
  --text-light: #94a3b8;
  --white: #ffffff;
  --max-width: 1400px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: 
    url("image/bgimg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  max-width: var(--max-width);
  min-height: 100vh;
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}


.destination__container {
  position: relative;
  padding: 0rem 0 5rem 5rem;
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  align-items: center;
}

.bg__img__1 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-100%);
  opacity: 0.6;
  z-index: -1;
}

.content h1 {
  margin-bottom: 1rem;
  font-size: 4.5rem;
  font-weight: 800;
  color: var(--text-dark);
}

.content h1 span {
  -webkit-text-stroke: 2px var(--text-dark);
  -webkit-text-fill-color: transparent;
}

.content p {
  max-width: 350px;
  margin-bottom: 2rem;
  line-height: 1.5rem;
  color: var(--text-dark);
  font-size: 18px;
}

.content .btn {
  padding: 0.75rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 900;
  color: var(--text-dark);
  background-color: var(--primary-color);
  cursor: pointer;
  font-family: "Cormorant Garamond", serif;
}

.content .btn:hover {
  background-color: var(--secondary-color);
}

.destination__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.destination__card {
  height: 100%;
  background-color: var(--white);
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.7);
}

.destination__card img {
  width: 100%;
}

.card__content {
  padding: 1rem;
}

.card__content h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.card__content p {
  margin-bottom: 1rem;
  font-size: 0.9rem;
  line-height: 1.5rem;
  color: var(--text-dark);
}

.card__content .btn {
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  font-weight: 900;
  color: var(--text-dark);
  background-color: var(--primary-color);
  cursor: pointer;
  font-family: "Cormorant Garamond", serif;
}

.card__content .btn:hover{
  background-color: var(--secondary-color);
}

@media (width < 1200px) {
  .search {
    max-width: 235px;
  }

  .destination__container {
    grid-template-columns: 1fr;
  }
}

@media (width < 900px) {
  .nav__links {
    display: none;
  }

  .content h1 {
    font-size: 4rem;
  }

  .destination__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width < 600px) {
  .search {
    display: none;
  }

  .destination__container {
    padding-left: 3rem;
  }

  .content h1 {
    font-size: 3rem;
  }

  .destination__grid {
    grid-template-columns: repeat(1, 1fr);
  }
}


.wrapper {
  position: fixed;
  top: 50%;
  right: 15%;
  transform: translateY(-50%);
  z-index: 1000;
  width: 530px;
  height: 560px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease;
}

.wrapper.active-popup {
  visibility: visible;
}

.wrapper.active {
  height: 520px;
}

.wrapper .form-box {
  position: relative;
  z-index: 5;
  width: 100%;
  padding: 40px;
}

.form-box {
  position: relative;
  z-index: 5;
  width: 100%;
  padding: 40px 40px 0;
}

.form-box h2 {
  font-size: 2em;
  color: white;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid white;
  margin: 30px 0;
}

.input-box select{
    width: 100%;
   padding:10px 15px;
   font-size: 17px;
   margin:8px 0;
   background: #EED1D5;
   border-radius: 5px;
}

.input-box select option{
    background: #EED1D5;
}

.input-box label {
  position: absolute;
  top: 0;
  left: 5px;
  transform: translate(-6%);
  font-size: 1.1em;
  color: white;
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.1em;
  color: white;
  font-weight: 600;
  padding: 20px 35px 0 5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: white;
  line-height: 57px;
}

.remember-forgot {
  font-size: 0.9em;
  color: #fff;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.remember-forgot label input {
  accent-color: #fff;
  margin-right: 3px;
}

.remember-forgot a {
  color: #fff;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.btns {
  width: 100%;
  height: 45px;
  background-color: #E6A4B4;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.3em;
  color: black;
  font-weight: 500;
}

.btns:hover {
  width: 100%;
  height: 45px;
  background-color: #EED1D5;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.3em;
  color: black;
  font-weight: 500;
}

.login-register {
  font-size: 1em;
  color: white;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

.login-register p {
  color: rgba(255,
      255,
      255,
      0.8);
  font-size: 1em;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

.login-register p a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.login-register p a:hover {
  text-decoration: underline;
}

.features {
  margin: 4em auto;
  padding: 1em;
  position: relative;
}

.feature-title {
  color: #333;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Cormorant Garamond", serif;
}

.features img {
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 16px;
}

.features .form-control,
.features input {
  border-radius: 0;
}

.features .btn {
  background-color: #E6A4B4;
  border: 1px solid #E6A4B4;
  color: black;
  margin-top: 20px;
}

.features .btn:hover {
  background-color: white;
  border: 1px solid white;
}

.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}